# ===============================================
# Common
# ===============================================

# Docker
**/.dockerignore
**/docker-compose*
**/Dockerfile
**/Dockerfile.*
**/*.Dockerfile

# Git
**/.git
**/.gitignore

# Common Files
**/LICENSE
**/ReadMe.md
**/README.md

# Secrets
**/.env

# ===============================================
# .NET
# ===============================================

# Build results
**/[Bb]in
**/[Oo]bj
**/[Oo]ut
**/build/
**/publish/

# Testing and Code Coverage
**/[Tt]est[Rr]esult*/
**/[Cc]ode[Cc]overage/
**/*.coverage
**/*.coveragexml

# Visual Studio
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.suo

# Templates
.template.config

# ===============================================
# Web
# ===============================================

# Node
**/node_modules/
**/npm-debug.log
