<?xml version="1.0" encoding="utf-8"?>
  <!-- File name extension must be .runsettings -->
  <RunSettings>
    <DataCollectionRunSettings>
      <DataCollectors>
        <DataCollector friendlyName="XPlat code coverage">
          <Configuration>
            <Exclude>
              [Tuckshop.Reporting.Migrations]Tuckshop.Reporting.Migrations.Migrations*
            </Exclude>
            <Include>
            </Include>
            <SkipAutoProps>true</SkipAutoProps>
          </Configuration>
        </DataCollector>
      </DataCollectors>
    </DataCollectionRunSettings>
  </RunSettings>
